accounts:
  - username: "test"
    password: "test123456"
    bind_address: "0.0.0.0:8080"
    req_address: ""
    tcp_timeout: 60
    udp_timeout: 60
    whitelist:
      - "192.168.100.1"
      - "127.0.0.1"
  - bind_address: "0.0.0.0:8081"
